<?xml version="1.0" encoding="utf-8" ?>
<configuration> 
  <instances defaultInstance="DBInstance1">
    <instance name="DBInstance1" type="ORACLE" connectionString="Oracle Connection String" isFullString="false" isEncrypt="false"/>
    <instance name="DBInstance2" type="SQLSERVER" connectionString="SQLServer Connection String" isFullString="false" isEncrypt="false"/>
  </instances>
  <connectionStrings>
    <connectionString name="Oracle Connection String">
      <parameters>
        <parameter name="Data Source" value="WXSQFull" isSensitive="false" />
        <!--<parameter name="Data Source" value="rwxsq" isSensitive="false" />-->
        <parameter name="User Id" value="wxsq"></parameter>
        <parameter name="password" value="wxsq"></parameter>
      </parameters>
      <fullString></fullString>
    </connectionString>
    <connectionString name="SQLServer Connection String">
      <parameters>
        <parameter name="server" value="aigozhu-PC.FYKJ.corp" isSensitive="false" />
        <parameter name="database" value="orcl" isSensitive="false" />
        <parameter name="user" value="sa"></parameter>
        <parameter name="pwd" value="sa"></parameter>
      </parameters>
      <fullString></fullString>
    </connectionString>
  </connectionStrings>
</configuration>
