
@charset "utf-8";
/* CSS Document */
* { padding:0; margin:0; }
html, body, div, iframe, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, nobr, small, strong, sub, sup, var, dl, dt, dd, ol, ul, li, fieldset, label, legend, caption, article, aside, dialog, strong, b, em, i, table, tbody, tr, td, th, form, input, textarea, select, fieldset, legend, button {
    background: none repeat scroll 0 0 transparent;
    margin: 0px;
    outline: medium none;
    padding: 0px 0px 0 0px;
}
html { height: 100%; }
body { font: 12px/150% "宋体",Arial,Tahoma,Georgia,Verdana,Simsun,Helvetica,Mingliu; height: 100%; min-width:960px;}
ol, ul { list-style: none outside none; }
table { border-collapse: collapse; border-spacing: 0; }
fieldset, img { border: medium none; vertical-align:middle; }
caption, th, td { font-weight: normal; text-align: left; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: none; }
em, cite { font-style: normal;}
button {  font-size: 1em;  overflow: visible; padding: 0; }
input, select { vertical-align: middle;  border-top: 1px solid #E5E5E5;  border-left: 1px solid #E5E5E5;  border-bottom: 1px solid #E5E5E5; border-right: 1px solid #E5E5E5;}
br { clear: both; overflow:hidden; zoom:1; line-height:10px; }

.dot_line { border-bottom:1px dashed #ccc; margin:14px 0 20px 0; }

a:focus { outline: medium none; }
.clearfix:after, .clearfixItems li:after {dd
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.blank10 { height:10px; }
.blank15 { height:15px; }
.line {
    border-top: 1px solid #E5E5E5;
    font-size: 0;
    height: 1px;
    margin: 18px 12px 0;
}
.padding {
    padding: 14px;
	float:left;
}
.pad_list { padding:0 4px 14px; float:left; }
.clearFix {
    display: inline-block;
}
* html .clearFix {
    height: 1%;
}
.clearFix {
    display: block;
}
.clearfixItems li { }
.clear { clear: both; overflow:hidden; zoom:1; }
.ir, .sprite {  overflow: hidden; text-indent: -9999px; }
.hide { display: none; }
.text_inp { border:1px solid #999; background:#fff url(../images/inp_bg.gif) no-repeat; overflow:hidden; min-width:100px; line-height:20px; padding:2px 0 2px 5px; }
/*KIng_Add.多行文本*/
.text_inps { border:1px solid #999; background:#fff url(../images/inp_bg.gif) no-repeat; overflow:auto; min-width:100px; line-height:20px; padding:2px 0 2px 5px; }

.log_but, .reg_but { width:67px; height:25px; background:url(../img/but2.gif) no-repeat; cursor: pointer; }
.log_but { background-position:0 0; }
.reg_but { background-position:0 -25px; }
.bold, th, strong, .strong, .b { font-weight: bold; }
.l { text-align: left; }
.r { text-align: right; }
.c {  text-align: center; }
.fl, .cho_fl {  float: left; }
.fr { float: right; }
.pointer { cursor: pointer; }
.box { min-height: 100%; min-width: 960px; overflow: hidden; width: 100%;background:#41bfef url(../images/ct_bg.jpg) no-repeat center top;}
.wrap {  padding:0 6px 14px; background:#fff;   }
.wrap {
    margin: 0 auto;
    text-align: left;
    width: 960px;
}

.wrap a, .mainContent a { color:#444;  text-decoration: none; }
.wrap a:hover, .mainContent a:hover { color:#598200; text-decoration:none; }
.wrap h6 { font-size:13px; }
.wrap table td { /*border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4;*/ padding:0px 0px; }
.header { height:51px;margin-top:8px;position:relative; z-index:3; color:#888 }
	.logo { background:url(../images/logo.gif) no-repeat; width:575px; height:43px; margin:0 8px 0 10px; }
	.logininfor {
			float:left;
		right:15px;
		line-height:21px;
		position: absolute;
		z-index: 100;
	}
	.header .fr { margin-top:22px; }
	.header .fr a { color:#444; font-weight:100; margin-right:10px; }
	
	.header .fr b { float:left; }
	.header .fr span.user { background:url(../img/user.gif) no-repeat; width:19px; height:19px; margin-left:10px; }
	
	.a-edit { background: url("../img/s_icon_4.png") no-repeat scroll left center transparent;padding: 1px 0 0 18px; }
	.a-exit {  background: url("../img/s_icon_5.png") no-repeat scroll left center transparent;padding: 1px 0 0 18px; }
	.header .fr { padding-right:10px; }
	.header .change a { color:#888; } 
	.header .fr a span,.header .fr b a { font-weight:700; float:none; margin-right:0; color:#598200; }
	.header .fr a:hover { color:#60b433; }
	.menu {background:url(../images/menu_bg.gif) no-repeat; height:45px; position:relative; z-index:3000; }
		.nav { position:absolute; height:45px; width:662px; padding:0 10px; top:0; left:7px; }
		.nav ul li { float:left; cursor:default; position:relative; }
		.nav ul li a { background: url(../images/nav_xian.gif) no-repeat right top; padding-left:20px; float: left; height: 45px; position: relative; }
		.nav ul li a span { color: #fff; display: block; line-height:45px; font-weight:700; padding-right: 20px; }
		.nav ul li a.nobg { background:none; }
		.nav a:hover { text-decoration:none; color:#74a902; }
		
		.nav ul li.nav_contenton span { background: url("../images/nav_bg.gif") no-repeat right top; color:#598200; }
		.nav ul li a:hover { background:url(../images/menu_bg_on.gif) repeat-x; }
		.nav ul li.nav_contenton,.nav ul li.nav_contenton a:hover { background: url("../images/nav_bg.gif") no-repeat left top; }
		
		
		.nav li ul { display:none; position:absolute; top:43px; background:#e3e3e3; border:1px solid #7eaa0f; border-top:none; left:0px; }
		.nav li ul li { line-height:27px; border-top:1px dashed #fff; display:block; text-align:center; clear:both; overflow:hidden; zoom:1; width:103px; padding:0;}
		
		.nav li ul li a,.nav li ul li a:hover,.nav ul li a.nav_contenton li , .nav ul li .nav_contenton li a { background:none; padding:0; height:auto; float:none; }
		
		.nav li a:hover ul, .nav li:hover ul { display:block; }
		
		.nav_quick { height:26px; padding:7px 10px ; line-height:26px; color:#fff; }
		.nav_quick .fr { position:relative; z-index:1; margin-top:3px; }
		.nav_quick .fr input { border:0; }
		.nav_search_inp { background:url(../img/search_bg.gif) no-repeat; height:22px; line-height:16px; width:220px; padding:4px 0 0 30px; color:#bbb;  } 
		.nav_search_but { background:url(../img/search_but_bg.gif) no-repeat; cursor: pointer; position:absolute;height:26px; right:-4px;top:0; _top:1px; width:75px; }
		.nav_quick .fr a { color:#fff; padding-right:6px; }
		.nav_quick .fr span { font-weight:700; }
		
.left_quick { width:160px; margin-right:14px;}
	.left_quick h6 { background:url(../img/quick_bg.gif) no-repeat; width:150px; height:28px; line-height:28px; padding-left:10px; color:#fff; }
	.text_main { background: url(../images/text_bg.gif) no-repeat left bottom; padding:0 10px 5px; }
	.text_main li { line-height:29px; border-bottom:1px dashed #bbb; }
	.text_main li img { vertical-align:middle; float:left; padding:0 10px 0 2px; }
	
	.ad { width:960px;height:220px;}
	.home_log { background:url(../images/login_bg.gif) no-repeat; width:185px; height:213px; }
		.m1 { width:90px; float:left; }
		.m2 { width:90px; float:right; }
		.m1 a, .m1 a:hover { background:url(../img/gr.gif) no-repeat 0 0; height:27px; float:left; }
		.m2 a, .m2 a:hover { background:url(../img/qy.gif) no-repeat right 0; height:27px; float:right; }
		.m1 a:hover, .m1 a.chose { background-position:0 -27px; }
		.m2 a:hover, .m2 a.chose { background-position:right -27px; }
		.text_body { padding:5px 15px; width:155px; float:left; }
		.text_body p { padding-bottom:8px; width:155px; float:left; color:#666; }
		.text_body p.quest { background:url(../img/icon_que.gif) no-repeat; padding-left:23px; margin-top:8px; width:130px; line-height:15px; padding-bottom:0; }
		.text_body p.quest a { color:#333; }
		.home_log .text_inp { width:150px;}
		
	.home_box { margin-bottom: 15px; position: relative; }
	.box_top, .box_top2, .box_top3 { height: 28px; line-height:28px; overflow: hidden; position: relative; }
		.box_top h5,.box_top2 h4,.box_top3 h5 { color:#598200; font-size:13px; padding-left:20px;}
		.box_top h5 { background:url(../images/box_top.gif) no-repeat; max-width:940px;}
		.box_top3 h5 { background:url(../img/rt_tbg2.gif) no-repeat; max-width:940px; color:#fff; padding:2px 0 0 12px;}
		.box_top2 h4 { background:url(../images/box_top2.gif) no-repeat; }
		.box_top span,.box_top2 span,.box_top3 span { position:absolute; right:0; top:0;  }
		.box_top span { background:url(../images/box_top.gif) no-repeat right 0; }
		.box_top3 span { background:url(../img/rt_tbg2.gif) no-repeat right 0; }
		.box_top2 span  { background:url(../images/box_top2.gif) no-repeat right 0; }
		.box_top span a, .box_top2 span a, .box_top3 span a { color: #666666; font-weight:100; margin-right:10px; }
		.box_top ul,.box_top3 ul { position:absolute; right:60px; top:0; height:22px; margin:3px 0; }
		.box_top ul li,.box_top3 ul li { float:left; margin-right:5px; }
		.box_top ul li a, .box_top ul li a b, .box_top ul li a:hover, .box_top ul li a:hover b { background:url(../img/but3.gif) no-repeat; float:left; height:22px; line-height:22px; }
		.box_top ul li a, .box_top ul li a:hover { padding-left:6px; }
		.box_top ul li a { background-position:0 0; }
		.box_top ul li a:hover { background-position:0 -22px; }
		.box_top ul li a b,.box_top ul li a:hover b { padding-right:6px; }
		.box_top ul li a b { background-position:right 0; color:#333; font-weight:100; }
		.box_top ul li a:hover b { background-position:right -22px; color:#fff; font-weight:700; }
	
	.text_body2, .list { background:url(../images/bg.gif) no-repeat; }
	.text_body3 { background:url(../images/bg2.gif) no-repeat; }
	.text_body4 { background:url(../images/bg5.gif) repeat-y; }
	.text_body2, .text_body3, .list { background-position: 0 bottom; padding:0px 0 12px; width:100%; float:left; }
	.text_body2 ul, .text_body3 ul { width:460px; margin:0 10px; float:left; _margin:0 8px; }
	.text_body2 ul li a, .text_body3 ul li a { width:100%; float:left; line-height:27px; border-bottom:1px dotted #bbb; }
	.text_body2 ul li b, .text_body3 ul li b { float:left; width:380px; }
	.text_body2 ul li span, .text_body3 ul li span { float:right; }
	.text_body2 ul li a, .text_body3 ul li a { color:#444; }
	.text_body2 b, .text_body3 b { font-weight:100; }
	.text_body3 ul li a.hot { color:red; }
	
	.home_kefu { margin-bottom:15px; }
	.home_kefu .fl { width:760px; position:relative;  margin-right:15px; }
	.home_kefu .fr { width:185px; position:relative; background:url(../images/bg3.gif) no-repeat 0 bottom; }
	.main_kefu { background:url(../images/bg.gif) no-repeat left bottom; padding-left:0px;  }
	.main_kefu span { background:url(../images/bg.gif) no-repeat right bottom; padding: 10px 10px 10px 0; float:left; width:740px; }
	.main_kefu ul, .con_kefu ul { background:url(../img/icon7.gif) no-repeat; padding-left:20px; margin:6px 20px 0; float:left; min-width:125px; line-height:13px; }
	.main_kefu li, .con_kefu li { margin-bottom:6px; }
	
	/*.main_book { background:url(../images/bg.gif) no-repeat left bottom; padding-left:10px;  }
	.main_book dl { background:url(../images/bg.gif) no-repeat right bottom; padding: 10px 10px 10px 0; float:left; width:740px; }
	.main_book ol { background:url(../img/icon7.gif) no-repeat;  padding-left:20px; margin:6px 20px 0; float:left; min-width:125px; line-height:13px; }
	.main_book li{ margin-bottom:6px; }*/
	
	.text_body3 .con_kefu ul { width:auto; min-width:115px; _width:120px; }
	.text_body3 .con_kefu li span { color: #598200; float:none;}
	.con_kefu ul li a { border:none; line-height:22px; float:none; }
	.title { color:#598200; font-weight:700; }
	.contant { padding:5px 10px; width:165px; float:left; }
	.contant li { line-height:26px;height:26px; }
	.contant li img { float:left; width:26px; }
	.contant li span {  color:#598200; }
	
	.link { background:url(../images/bg4.gif) no-repeat; padding-top:10px; overflow:hidden; clear:both; padding:0 20px; position:relative; margin-bottom:14px; height:93px; }
	.link .title { border-bottom:1px dotted #bbb; line-height:28px; }
	.link ul { width:840px; overflow:hidden; float:left; text-align:center; margin:8px 40px 0; height:48px; }
	.link ul li { float:left; padding:0 7px; }
	
	.icon_L { left:32px; background:url(../img/icon_l.gif) no-repeat; }
	.icon_r { right:32px; background:url(../img/icon_r.gif) no-repeat; }
	.icon_L, .link .icon_r { width:14px; height:14px; overflow:hidden; position:absolute; top:54px; }
	
	.foot { background:url(../images/foot_bg.gif) repeat-x; padding-top:20px; text-align:center; width:100%; }
	.foot a { padding:0 4px; color:#333; }
	.foot p { margin-bottom:14px; }
	
	.adPic { position:relative; margin-bottom:15px; }
	
	.pd_nav { background: url(../images/box_top3.gif) no-repeat; height:42px; position: relative; padding-left:20px; }
	.text_body4 {  width:960px; text-align:center; float:left; padding:25px 0 0; *padding:25px 0 40px; background-position: 0 bottom; }
	.login_img, .login_img1, .error ,.login_img2{ height: 192px;  margin: 15px auto;  width: 640px; text-align:left; padding-right:19px; }
	.login_img { background:url(../images/login_cm002.jpg) no-repeat; }
	.login_img1 { background:url(../images/login_cm001.jpg) no-repeat; }
	.login_img2 { background:#eee; width:330px; padding:25px 20px 5px; margin:15px 50px 35px; _margin:15px 42px 35px; text-align:center; }
	.login_img h5, .login_img1 h5 { background:none; font-size:14px; color:#598200; padding:20px 10px 10px 0; }
	.login_txtmore { float:right; margin-top:10px; }
	.login_txtmore a, .login_txtmore a:hover, .login_txtmore a b, .login_txtmore a:hover b { background:url(../img/but3.gif) no-repeat; float:left; height:22px; line-height:22px; }
	.login_txtmore a, .login_txtmore a:hover { padding-left:15px; }
		.login_txtmore a { background-position:0 0; }
		.login_txtmore a:hover { background-position:0 -22px; }
		.login_txtmore a b,.login_txtmore a:hover b { padding-right:15px; }
		.login_txtmore a b { background-position:right 0; color:#333; }
		.login_txtmore a:hover b { background-position:right -22px; color:#fff; }
		.text_login2 { text-align:left; color:#666; font-size:14px;  margin:10px 0px; }
		.text_login2 table td { padding:3px 0; min-width:10px; }
	.text_login2 p,.text_login table { margin:10px 10px 15px; clear:both; overflow:hidden; zoom:1; display:block; line-height:20px; }
	
.text_login2 p label,.text_login td label { padding-right:15px; text-align:right; width:100px; float:left; }
	.text_login2 p input,.text_login td input { margin-right:5px; }
	
	.text_login2 p .text_inp,.text_login td .text_inp { width:300px; float:left; line-height:20px; color:#999;}
	.text_login2 p .pas,.text_login td .pas { width:100px; } 
	.text_login2 b.note { margin-left:195px; margin-top:6px; float:left; }
	.text_login2 b,.text_login p span,.text_login td span { font-size:12px; font-weight:100; color:#999;}
	.text_login2 p strong.login_txtmore,.text_login td strong.login_txtmore { float:left; }
	.text_login2 p strong.login_txtmore a,.text_login td strong.login_txtmore a { margin-right:18px; }
	.text_login2 p img { vertical-align:middle; height:44px; }
	.text_login2 p span a,.text_login td span a { text-decoration:underline; }
	.text_login2 p select.text_inp,.text_login td select.text_inp { width:auto; margin-right:14px; color:#555; }

	.text_login2 p span.login_txtmore,.text_login td span.login_txtmore { float:left; margin-top:0; }
	.text_login2 td.line_up { margin-top:10px; }
	
	.text_login2 .fl { width:520px; }
	.text_login2 .fl p { margin:10px 30px 15px; }
	.text_login2 .fl p label { width:90px; }
	.text_login2 .fl p .text_inp { width:200px;  }
	.text_login2 .fl p b.note {margin-left:105px; }
	.text_login2 .fr { float:left; }
	.text_login2 .fr li { font-size:12px; line-height:18px; margin:8px; }
	
	.text_login { text-align:left; color:#666; font-size:14px;  margin:10px 30px; }
	.text_login table td { padding:3px 0; min-width:10px; }
	.text_login p,.text_login table { margin:10px 130px 15px; clear:both; overflow:hidden; zoom:1; display:block; line-height:20px; }
	
.text_login p label,.text_login td label { padding-right:15px; text-align:right; width:180px; float:left; }
	.text_login p input,.text_login td input { margin-right:5px; }
	
	.text_login p .text_inp,.text_login td .text_inp { width:300px; float:left; line-height:20px; color:#999;}
	.text_login p .pas,.text_login td .pas { width:100px; } 
	.text_login b.note { margin-left:195px; margin-top:6px; float:left; }
	.text_login b,.text_login p span,.text_login td span { font-size:12px; font-weight:100; color:#999;}
	.text_login p strong.login_txtmore,.text_login td strong.login_txtmore { float:left; }
	.text_login p strong.login_txtmore a,.text_login td strong.login_txtmore a { margin-right:18px; }
	.text_login p img { vertical-align:middle; height:44px; }
	.text_login p span a,.text_login td span a { text-decoration:underline; }
	.text_login p select.text_inp,.text_login td select.text_inp { width:auto; margin-right:14px; color:#555; }
	.provision { border:1px solid #ddd; padding:14px; line-height:18px; }
	.text_login p span.login_txtmore,.text_login td span.login_txtmore { float:left; margin-top:0; }
	.text_login td.line_up { margin-top:10px; }
	
	.text_login .fl { width:520px; }
	.text_login .fl p { margin:10px 30px 15px; }
	.text_login .fl p label { width:90px; }
	.text_login .fl p .text_inp { width:200px;  }
	.text_login .fl p b.note {margin-left:105px; }
	.text_login .fr { float:left; }
	.text_login .fr li { font-size:12px; line-height:18px; margin:8px; }
	
	.login_but3 { float:left; }
	.text_body4 h2 { background:url(../images/index_kefu_icon.gif) no-repeat; padding:0 0 8px 25px; line-height:14px; border-bottom:1px solid #bbb; margin:0 30px 10px; color:#598200; font-weight:700; text-align:left; font-size:13px;  }
	
	
.login_but3 a, .login_but3 a:hover { background:url(../img/but4.gif) no-repeat; }
.login_but5 a, .login_but5 a:hover { background:url(../img/but1.gif) no-repeat; }
	.login_but3 a {  width:120px; }
	.login_but5 a {  width:90px; }
		.login_but3 a, .login_but5 a { background-position:0 -32px; color:#fff; float:left; margin-right:18px; font-weight:700; height:32px; line-height:32px; font-size:14px; text-align:center; }
		.login_but3 a:hover, .login_but5 a:hover { background-position:0 0;  color:#333;}
		
	.index_yhzq {
		background: url(../images/index_taocanbg.gif) no-repeat ;
		height:48px;
		margin-bottom: 15px; 
		margin-right:14px;
		float:left;
		padding:10px 0 8px 20px;
		width:453px;
		vertical-align:middle;
	}
	.index_yhzq2 { margin-right:0; }
	.index_yhzq img { margin-right:7px; width:90px; height:46px; border:1px solid #ddd; padding:0 3px; }
	
	.main_left { width:200px; float:left; margin-right:10px; }
		.main_box { width:540px; float:left; margin-right:10px; }
	.main_right { width:750px; float:left; }
	.main_right2 { width:740px; float:left; }
	.doc_right { width:200px; float:left; margin-left:20px; _margin-left:18px; }
		.top_box, .cen_box, .bom_box { height: auto; }
		.top_box .rt_top, .cen_box .rt_top, .bom_box .rt_top { height:34px; }
		.rt_top { background:url(../images/box_title3.gif) no-repeat; }
		.rt_top h4 { color:#598200; padding: 7px 0 0 36px; font-family: "microsoft YaHei"; font-size: 14px; font-weight: 700; height: 20px; }
		.top_box .rt_top { background:url(../images/rt_tbg.gif) no-repeat right top; padding-right:4px; }
		.top_box .rt_top h4 { color:#fff; line-height:36px; height: 36px; padding:0 0 0 36px; background:url(../img/icon13.gif) no-repeat; }
		.top_box .rt_top h4.upload { background:url(../img/upload.gif) no-repeat; }
		.top_box .rt_top h6 { color:#fff; padding-left:4px; background:url(../images/rt_tbg.gif) no-repeat left top; line-height:36px; height: 36px; text-align:center; font-family: "microsoft YaHei"; font-size:16px; }
		.top_box .rt_top h6 a { color:#fff; }
		.top_box .rt_top h6 a:hover { color:#063; }
		.rt_content, .rt_list  {
			border: 1px solid #CBCBCB;
			border-style: none solid solid;
			border-width: medium 1px 1px;
			height:auto;
			width: 198px;
			line-height:24px;
			margin-bottom:15px;
		}
		.rt_content ul li, .rt_list ul li {			
			border-bottom: 1px solid #E6E6E6;
			
			line-height: 36px;
			margin: 0;			
			text-align: left;
			padding-left: 40px;
			background:url("../img/jt.png") no-repeat 14px 50% transparent;
			width: auto;
		}
		.rt_content ul li a,.rt_list ul li a { width:158px; color:#000; float:left; }
		.rt_content ul li.noborder,.rt_list ul li.noborder { border-bottom:none; }
		.rt_list {
			border: 1px solid #CBCBCB;
			border-style: none solid solid;
			border-width: medium 1px 1px;
			height:auto;
			width: 198px;
			line-height:24px;
			margin-bottom:15px;
		}
		.rt_list ul { padding:5px 0; padding:7px 0\9; *padding:7px 0 8px; }
		.rt_list ul li {
			height: 27px;
			line-height: 27px;
		}
		.rt_content ul li:hover,.rt_list ul li:hover { background:#e5edd9; }
	.box_2 {
		background: none repeat scroll 0 0 #ecefe9;
		border: 1px solid #e0e1dd;
		margin-bottom: 15px;
		padding: 10px;
	}
		
		.userInfo { font-size: 14px; line-height: 22px; }
		.userInfo .fl { margin: 0 5px; }
		.userInfo .fl p { line-height: 25px; padding: 2px 0; }
		.userInfo .avatar { border: 1px solid #c7e2a7; width:100px; height:100px; background:#fff; padding: 5px; }
		.cGreen, a.cGreen:link, a.cGreen:visited { color: #008000; }
		.cGreen span { font-weight:700; }
		
	.tabDoc { float: right; height:auto; margin-right: 10px; overflow: hidden; padding-bottom:14px; width: 220px; }		
	.tabDoc .tabBar {
		border-bottom: 1px solid #E0E0E0;
		height: 26px;
		margin-bottom: 10px;
	}
	.tabDoc .tabBar .current {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		border-color: #E0E0E0 #E0E0E0 #F0F0F0;
		border-style: solid;
		border-width: 1px;
		font-weight: bold;

	}
	.tabDoc .tabBar span {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background: none repeat scroll 0 0 #F0F0F0;
		border-color: #F0F0F0 #F0F0F0 #E0E0E0;
		border-style: solid;
		border-width: 1px;
		color: #333333;
		cursor: pointer;
		display: block;
		float: left;
		font-weight: normal;
		height: 25px;
		line-height: 25px;
		margin: 0 5px -1px;
		padding: 0 10px;
		position: relative;
	}
	.tabDoc ul {  margin: 0 10px; }
	.tabDoc ul li { height: 25px; line-height: 25px; padding-left:6px; border-bottom:1px dashed #bbb; }
	
	.box_2 h2 { font-size:22px; font-weight:300; font-family: "microsoft YaHei"; height:32px; line-height:32px; padding-bottom:10px; border-bottom:1px dashed #fff; }
	.box_2 p,.box_2 table { margin:0 0 5px 0; }
	.box_2 h2 img { padding-right:8px; }
	.main_right .box_2 .text_login { padding:30px 15px 20px; margin:0; background:#fff; }
	.main_right .box_2 .text_login p { margin:5px 0 10px; }
	.titBar {
		border-bottom: 1px solid #E1E1E1;
		height: 35px;
		line-height: 35px;
		margin-bottom: 10px;
		padding: 0 5px 6px;
	}

	.titBar .fl {
		width:auto;
		color:#598200;
		font-size: 14px;
		line-height: 23px;
		margin-right: 10px;
		margin-top:4px;
	}
	.titBar .fl img { padding-bottom:3px; }
	.titBar span.fl { width:auto; line-height:14px; font-size:12px; padding-top:8px;}
	.titBar .fr { float:right; }
	.search_barMsg {
		height: 1px;
		position: relative;
	}
	.search_barMsg .inner {
		bottom: -45px;
		font-size: 14px;
		position: absolute;
		right: 10px;
	}
	.btn_row {
		background: none repeat scroll 0 0 #F6F6F6;
		padding: 15px;
		margin-bottom:15px;
	}
	.btn_gray {
		background: url("../img/btn_gray_bg.gif") repeat-x scroll 0 0 transparent;
		border: 1px solid #CACACA;
		color: #333333;
		cursor: pointer;
		font-size: 14px;
		height: 28px;
		line-height: 28px;
		padding: 0 20px;
		*padding: 0 5px;
		text-align: center;
	}
	.hover_ored:hover {
		background: url("../img/btn_03bg.gif") repeat-x scroll 0 0 transparent;
		color: #FFFFFF;
	}

	.inp_01 {
		border: 1px solid #E1E1E1;
		height: 22px;
		line-height: 24px;
		padding: 0 5px;
		background:#FFF;
		width: 150px;
	}
	.table_grayTH th {
		background: url("../images/t_bar_bg.gif") repeat-x scroll 0 0 transparent;
		color: #555555;
		font-size: 14px;
		font-weight: normal;
		height: 33px;
		line-height: 33px;
		padding: 0 10px;
		text-align: left;
		
	}
	.table_grayTH {
		border: 1px solid #E0E0E0;
		   margin: 0px 2px 0px  2px;
	}
	table, td, tr, th {
		font-size: 12px;
		line-height: 18px;
	}
	.table_grayTH td {
		border-top: 1px solid #E0E0E0;
		color: #888888;
		font-size: 12px;
		padding: 10px;
	}
	
	.txtCenter {
		text-align: center;
	}
	.table_grayTH tr:hover { background:#fcfbc1; }
	.error { background:url(../images/error.jpg) no-repeat;height: 320px; font-size:14px; line-height:22px; margin-bottom:60px; }
	.error p  { font-weight:700; }
	.error ul { margin-top:40px; }
	.error li {
		background: url("../img/li.png") no-repeat scroll 0 12px transparent;
		list-style: none outside none;
		padding:4px 10px;
		border-bottom:1px dashed #999;
	}
	
	.tooldoc_sch { font-size: 14px; }
	.tooldoc_sch .wT, .tooldoc_sch .wTL, .tooldoc_sch .wTR { background: url(../images/wiki_schbg.gif) ;}
	.tooldoc_sch .wTR { background-position: right -120px;}
	.tooldoc_sch .wTL, .tooldoc_sch .wTR { background-repeat: no-repeat; }
	.tooldoc_sch .wT { background-position: 0 -60px; position:relative; }
	.tooldoc_sch .wT { background-repeat: repeat-x; height: 32px; line-height: 32px;_line-height:34px; margin: 0 6px 10px; padding:8px 15px 12px; * padding:8px 15px; _padding:7px 15px 9px; }
	.tooldoc_sch .wT span a { text-decoration:underline; }
	.tooldoc_sch .wT span.login_but5 a, .tooldoc_sch .wT span.login_but3 a { text-decoration:none; }
	
	.tooldoc_sch .wT label,.tooldoc_sch .wT input, .tooldoc_sch .wT select, .tooldoc_sch .wT span, .mC-search input, .mC-search label, .mC-search select { float:left; margin:5px 10px}
	.tooldoc_sch .wT label { margin-right:8px; font-size:12px; }
	.tooldoc_sch .wT .text_inp { margin:6px 12px 0 0;}
	.mC-search .text_inp { margin:10px 12px 0 0; }
	.mC-search .login_but5 a { margin-top:4px; }
	.tooldoc_sch .wT span.login_but3 { float:right; }
	
	.mainContent { text-align: left; width: 960px; margin:0 auto 14px; }
	.mainContent h1 { font-size:14px; color:#598200; margin-bottom:15px; position:relative; padding-bottom:4px; line-height:32px;height:32px; border-bottom:1px solid #598200; }
	.mainContent h1 span { position:absolute; right:10px; font-size:12px; }
	.mainContent h1 span .text_inp , .mainContent h1 span .login_txtmore { margin-top:6px; margin-left:6px; float:right; }
	.mainContent h1 img { margin-right:10px; }
	.documentList01 { border: 1px solid #D8D8DA; margin-bottom:14px; }
	.smlTitle { margin-bottom:14px; border-bottom:1px solid #598200; font-weight:100; line-height:16px; padding:3px 8px; font-size:12px; }
	.smlTitle a { color:#598200; }
	.smlTitle img { margin:0 8px 3px 0; }
	.mainContent h2, .frame h2 {background: url("../images/h2_bg.jpg") repeat-x scroll 0 0 transparent;
		border-bottom: 1px solid #D8D8DA;
		font-weight: bold;
		line-height: 30px;
		padding-left: 14px;
		text-indent: 0;
	}
	.mainContent h2, .frame h2, .newsContent h2 { color: #C9282D; font-size:14px; position:relative; }
	.mainContent h2 span, .frame h2 span, .newsContent h2 span { float:right; position:absolute; right:10px; *top:-8px; font-size:12px; font-weight:100; }
	.mainContent h2 span a, .frame h2 span a, .newsContent h2 span a { margin:0 3px 0 0; color:#9C0; }
	.mainContent h2 span img, .frame h2 span img, .newsContent h2 span img { margin:0 0 0 4px; padding-right:2px; }
	.documentList01 h2 { background:url("../images/site_bg.png") 0 -837px; }
	.listTitle ul { line-height: 24px; margin-bottom:14px; }
	.listTitle li { width:930px; float:left;line-height: 27px; border-bottom: 1px dashed #D8D8DA; }
	.listTitle li p, .listTitle li strong, .listTitle li b { overflow:hidden; margin-right:14px; font-weight:100; }
	.listTitle li p { width:418px;float:left; padding-left:10px;  }
	.listTitle li strong, .listTitle li b, .listTitle li span { width:150px; float:left;  }
	.listTitle li span { padding-right:10px; overflow:hidden; _width:140px; }
	.mainContent .h4title { color: #777777; font-size: 12px; text-align:left;font-weight:700; line-height: 18px; background: #eee; padding:4px 0; }
	.frame { border: 1px solid #D8D8DA; margin:0 0 14px 0; }
	.width308 {  width: 308px; margin-right:15px; }
	.width306 {  width: 306px; padding:14px 0; }
	.frameRight { border:1px solid #D8D8DA; width: 308px; margin-right:0 0 14px 0; }
	.frame li,.frameRight li,.hot_list li { background: url("../images/tr_arrol.gif") no-repeat scroll 3px 8px #FFFFFF; padding:4px 0 4px 12px; position:relative; border-bottom:1px dashed #ccc;}
	.frame li span,.hot_list li span { position:absolute; right:20px; }
	.mainContent .frame h2 span a,.mainContent .frameRight h2 span a,.mainContent .documentList01 h2 span a { color:#3E1112; }
	.list dl, .hot_list dl { overflow:hidden; zoom:1; clear:both; margin:12px 15px 4px; padding-bottom:8px; border-bottom:1px dashed #999; }
	.list dt, .hot_list dt { float: left; width:80px; margin-right:14px; min-height:80px; text-align:center; overflow:hidden; }
	.list dt img { height:80px; }
	.list dd { display: table-cell;width:810px; height: 1%; margin: 0 auto 0 85px; line-height: 20px;  margin-left: 0; color:#666; }
	.list h4, .list .more, .hot_list h4, .hot_list .more { background:none; color: #777777; font-size: 12px; line-height: 18px; margin-bottom:5px; padding: 0; clear:both; overflow:hidden; zoom:1; }
	.list h4 strong { float:left; width:50%; font-size:14px; color: #598200; }
	.list .more { background:#f1f1f1; padding:6px 0 6px 12px; margin-top:10px; }
	.list .more strong { float:left; width:42%; }
	.list h4 span, .list .more span { float:right; padding-right:20px; }
	.list h4 span,.list h4 b, .list .more span, .list .more b  { font-weight:100; }
	.hot_list dl { border-bottom:none; }
	.hot_list dt { width:240px; height:240px; float:left; }
	.hot_list dt img { height:auto; margin-bottom:10px; }
	.hot_list dd { float:left; }
	.hot_list dd li { width:650px; }
	.page { height: 2em; line-height: 2em; margin-top: 16px; padding: 10px 15px; text-align: right; vertical-align: middle; }
	.page img {  margin: 0 4px 0 0; }
	.submitBtn { background: url("../images/btn1_bg.gif") no-repeat scroll 0 0 transparent;
		border: 0 none;
		height: 19px;
		line-height: 19px;
		width: 56px;
	}
	#middlesidebar {
		float: left;
		overflow: hidden;
		padding: 10px 10px 16px;
		width: 585px;
	}
	.login_img2 .login_but3 { float:left; padding-left:95px; margin-top:30px; }
	.frame .list { background:none; }
	.frame ul, .frameRight ul { margin:0 5px; }
	.newsContent {  text-align: left; }
	.newsContent h2,.newsContent h3 { padding-left:12px; }
	.newsContent h2 { line-height:30px;border-bottom: 1px solid #c9d8ba; height: 30px; }
	.newsContent h3 { color: Black; font-size:18px; line-height:30px; margin:10px 0; }
	.newsContent p { margin:5px 15px; line-height:22px; text-indent:24px; }
	.info { color: #7E7E7E; height: 16px; margin: 7px auto 0; padding-left: 12px; }
	.infoCol { padding-right: 19px;}
	.info .where {color: #7E7E7E; padding-left: 19px; }
	.num { color: #333333; }
	.more img { margin-right:5px; }
	.more b a { color: #598200; }
	
	.mC-search {
		background: url("../images/mc-search-bar-bk.gif") no-repeat scroll 0 0 transparent;
		float: left;
		height: 40px;
		line-height: 40px;
		width: 740px;
		margin-bottom:14px;
	}
	.mC-search .login_txtmore { float:left; }
	.mC-search .text_inp { width:82px; min-width:82px; }
	.mC-search input.text_inp { margin-left:32px; width:120px; min-width:120px; }
	
	.cell {
		border: 1px solid #E0E0E0;
		float: left;
		height: 200px;
		margin: 15px 2px 2px;
		overflow: hidden;
		width: 176px;
	}
	.cell-title {
		border-bottom: 1px solid #E0E0E0;
		font-size: 13px;
		font-weight: bold;
		height: 30px;
		line-height: 30px;
		margin: 0 auto;
		overflow: hidden;
		width: 168px;
	}
	.cell-title2 {
		color: #868686;
		font-size: 12px;
		height: 20px;
		line-height: 20px;
		margin: 0 auto;
		width: 168px;
	}
	.cell-img { position: relative; }
	.cell-img img { height: 124px; margin:5px 5px 10px; width: 60px; }
	.cell-button, .cell-button2  { float: left; margin: 4px; }
	.cell-link, .cell-link2 {
		color: #2966C5;
		float: left;
		margin: 4px 4px 4px 12px;
		padding-left: 20px;
	}
	.cell-link { background: url("../images/mc-cell-star.gif") no-repeat scroll 0 0 transparent; }
	.cell-link2 { background: url("../images/mc-cell-exca.gif") no-repeat scroll 0 0 transparent; }
	.cell-location { color: #868686;float: left; height: 60px;line-height: 20px;word-wrap: break-word; margin: 4px 4px 4px 12px; }
	
	.plBar span {
		background-image: url("../images/icons.png");
		background-repeat: no-repeat;
	}
	.powerList {
			-moz-border-bottom-colors: none;
			-moz-border-image: none;
			-moz-border-left-colors: none;
			-moz-border-right-colors: none;
			-moz-border-top-colors: none;
			border-color: #E8E7E7;
			border-style: solid;
			border-width: 2px 0;
			margin: 12px 0;
			padding: 11px 0;
		}
	.powerList .plBar { background-color: #F0F0F0; border-radius: 5px 5px 5px 5px; color: #02649C; height: 30px; line-height: 30px;  margin-top: 5px; padding: 0 12px; }
	.powerList .plBar span {
			color: #444444;
			display: inline;
			font-family: arial;
			font-size: 14px;
			font-weight: bold;
			line-height: 24px;
			margin-top: 3px;
			padding: 0 11px 0 32px;
		}
		
	.ptd {
		-moz-border-bottom-colors: none;
		-moz-border-image: none;
		-moz-border-left-colors: none;
		-moz-border-right-colors: none;
		-moz-border-top-colors: none;
		background-position: 8px -928px;
		border-color: #E0E0E0;
		border-style: solid;
		border-width: 0 1px;
	}
	
	.pte {
	
		background-position: 8px -977px;
		border-color: #E0E0E0;
		border-style: solid;
		border-width: 0 1px;
	}
	
	.good-det { margin: 5px 0; }
		.good-det .pic { border: 0 none; margin: 0; padding: 0; width: 220px; }
		.good-det .pic h1 { color: #555555; font-size: 14px; margin: 0 0 5px; padding: 0; }
		.good-det .pic img { font-size: 15px;  height: 140px; width: 170px; }
		
		.pic .plBar {  margin-top: 50px;  width: 80%; }
		
		.pic .plBar span.ptc, .pic .plBar span { border: 0 none; float: left; padding: 0 5px 0 30px; }
		.ptc {
			background-position: 8px -883px;
		}
		.good-det .info {
			background: none repeat scroll 0 0 #F6F6F6;
			border: 1px solid #F0F0F0;
			border-radius: 5px 5px 5px 5px;
			min-height: 245px;
			padding: 5px;
			width: 500px;
		}
		.good-det .info li {
			list-style: none outside none;
			padding: 0 0 7px;
		}
		.good-det .info span {
			font-size: 13px;
			font-weight: 600;
		}
		.good-det .info em {
			font-size: 13px;
			font-style: normal;
		}
		.c {
			clear: both;
			font-size: 0;
			height: 0;
			line-height: 0;
		}
		
		
				
	.dot { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
	h1.dot { border:none; }
	.data_center { float:left; width:33%; }
	.data_center dl { border-bottom-style:solid; border-color:#e4e4e4; }
	.data_center h4, .data_center h4 a { color:#598200; }


li.noborder { border-bottom:none; }
.appoint {
    margin:auto;
    text-align: left;
    /*width: 760px;
	min-height:600px;*/
}
.main_kefu h2 { clear:both; overflow:hidden; zoom:1; margin:6px 0; background: url("../images/h2_bg.jpg") repeat-x; line-height:30px;border: 1px solid #D8D8DA; }
.main_kefu h2 b { width:183px; border-left:1px solid #fff; float:left; text-align:center; color:#C9282D; font-size:14px; }
.main_kefu dl h6 { font-size:12px; font-weight:700; padding:3px 0 3px 8px; background:#d8e5ba; margin:0 7px 0 6px; }
.main_kefu dl ol { border-left:1px solid #e4e4e4; border-top:1px solid #e4e4e4; overflow:hidden; zoom:1; clear:both; margin:0 6px; }
.main_kefu dl ol li { border-right:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; padding:1px; float:left; margin-bottom:0; }
.main_kefu .login_but5 a { font-size:14px; text-decoration:none; float:right; }
.main_kefu p strong { float:left; font-weight:100; }
.main_kefu p strong img { margin:0 3px 0 10px; }

/*.wrap table { border-left:1px solid #e4e4e4; border-top:1px solid #e4e4e4;}*/
.width50 { width:50px; }
.width70 { width:70px; }
.width300 { width:300px; }
table.w_table { float:left; width:200px; }
aside { display:block; }
.promos ul {
    clear: both;
    margin: 0;
    padding-bottom: 14px;
    width: 960px;
}
.promos ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.promos ul li {
    float:left;
    height: 174px;
    margin-left:13px;
    width: 230px;
}
.promos ul li.frist {
    margin-left: 0;
}

.promos ul li a {
    display: block;
}
.promos ul li a img {
    display: block;
	border:none;
}
.tooldoc_offer td {
    line-height: 19px;
    padding-left:30px;
}
.tooldoc_offer {
    background: url("../img/tooldoc_offerph.gif") no-repeat scroll left 29px transparent;
	margin:0 4px 10px;
}
.tooldoc_offer td {
    color: #555;
	height: 27px;
	line-height:27px;
}
.tooldoc_offer td a {
    color: #598200;
}

/*S King  oooooooooo*/
/*KIng*/
	.text_login p{ margin:10px 130px 15px; clear:both; overflow:hidden; zoom:1; display:block; line-height:20px; }
	/*.text_login table { margin:10px 130px 15px; clear:both; overflow:hidden; zoom:1; display:block; line-height:20px; }*/
	.text_login .log1 { margin:10px 0px 15px; clear:both; overflow:hidden; zoom:1; display:block; line-height:20px; }
	.text_login .reg1 { margin:10px 130px 15px; clear:both; overflow:hidden; zoom:1; display:block; line-height:20px; }
	
	/*KIng*/
	.text_login p label { padding-right:15px; text-align:right; width:180px; float:left; }
	.text_login .reg1  .label1 {  padding-right:15px; text-align:right; width:180px; float:left; }
	.text_login .log1 .label1 { margin-left:30px;  padding-right:15px; text-align:right; width:90px; float:left; }
	.reg1 .vcctc1{ width:180px;}
	.log1 .vcctc1{ width:90px;}

/*KIng UeserICo*/
.header  span.user { background:url(../img/user.gif) no-repeat; width:19px; height:19px; margin-left:10px; }

	/*KIng_Add.多行文本*/
.text_inps { border:1px solid #999; background:#fff url(../images/inp_bg.gif) no-repeat; overflow:auto; min-width:100px; line-height:20px; padding:2px 0 2px 5px; }


	.text_login b,.text_login p span{font-size:12px; font-weight:100; color:#999;}
	.text_login td span { font-size:14px; font-weight:100; color:#666;}
/*E King  oooooooooo*/

.list #ctl00_ContentPlaceHolder1_grSolution { width:100%; }
.list .data_center dl { width:282px; }
.list .data_center dd { width:auto; }
.wT .login_txtmore { margin:5px 10px 0 0; }
#extra {
    float: right;
    overflow: hidden;
    text-align: left;
    width: 200px;
}
#extra .quickLinks h4 {
    background: none repeat scroll 0 0 #CBCBCB;
    color: #595959;
    font: bold 12px/25px Arial,Verdana,sans-serif;
    margin: 0;
    padding-left: 10px;
    text-indent: 0;
}
#extra .quickLinks ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6;
    border-color: -moz-use-text-color #CBCBCB #CBCBCB;
    border-right: 1px solid #CBCBCB;
        border-left: 1px solid #CBCBCB;
          border-bottom: 1px solid #CBCBCB;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    list-style: none outside none;
    padding: 8px 10px;
}
#extra .relatedLinks ul {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color #CBCBCB #CBCBCB;
    border-right: 1px solid #CBCBCB;
    border-style: none solid solid;
    border-width: medium 1px 1px;
    list-style: none outside none;
    padding: 8px 10px;
}
#extra .quickLinks ul li, #extra .relatedLinks ul li {
    background: url("../images/arrow_03.gif") no-repeat scroll 0 7px transparent;
    line-height: 18px;
    padding-left: 12px;
}
#extra ul li a:link, #extra ul li a:visited {
    color: #000000;
    text-decoration: none;
}
#extra ul li a:hover {
    color: #000000;
    text-decoration: underline;
}
 
#extra .relatedLinks h4 {
    border: 1px solid #CBCBCB;
    color: #595959;
    font: bold 12px/20px Arial,Verdana,sans-serif;
    margin: 0;
    padding-left: 10px;
    text-indent: 0;
}

#tabList {
    border: 1px solid #C7C7CD;
	margin-bottom:14px;
	width:198px;
}
#tabList .nTab {
    background: url("../images/tab_title_bg02.jpg") repeat-x;
    font-size: 12px;
    width:198px;
}
#tabList .nTab .TabTitle {
    clear: both;
    height: 34px;
    overflow: hidden;
    padding-left: 12px;
}
#tabList .nTab .TabTitle li {
    cursor: pointer;
    display: inline;
    float: left;
    height: 28px;
    line-height: 28px;
    list-style-type: none;
    margin-right: 8px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 84px;
}
#tabList .nTab .TabTitle .active {
    background: url("../images/tab_bg5.jpg") no-repeat left -28px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}

#tabList .nTab .TabTitle .normal {
    background: url("../images/tab_bg5.jpg") repeat scroll 0 0;
    color: #648BB1;
    font-weight: bold;
    margin-top: 6px;
}
#tabList .nTab .TabContent {
    background:#FFFFFF;
    margin: 0 auto;
    padding:2px 0 0;
    width: auto;
}

#tabList2 {
    border: 1px solid #C7C7CD;
	margin-bottom:14px;
	width:198px;
}
#tabList2 .nTab {
    background: url("../images/tab_title_bg02.jpg") repeat-x;
    font-size: 12px;
    width:198px;
}
#tabList2 .nTab .TabTitle {
    clear: both;
    height: 34px;
    overflow: hidden;
    padding-left: 12px;
}
#tabList2 .nTab .TabTitle li {
    cursor: pointer;
    display: inline;
    float: left;
    height: 28px;
    line-height: 28px;
    list-style-type: none;
    margin-right: 8px;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    width: 84px;
}
#tabList2 .nTab .TabTitle .active {
    background: url("../images/tab_bg5.jpg") no-repeat left -28px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 6px;
}

#tabList2 .nTab .TabTitle .normal {
    background: url("../images/tab_bg5.jpg") repeat scroll 0 0;
    color: #648BB1;
    font-weight: bold;
    margin-top: 6px;
}
#tabList2 .nTab .TabContent {
    background:#FFFFFF;
    margin: 0 auto;
    padding:2px 0 0;
    width: auto;
}
.page-bottom
{
	text-align:right;
}
.text_inps960 { border:1px solid #999;  background:#fff url(../images/inp_bg.gif) no-repeat; overflow:auto; width:952px; line-height:20px; padding:2px 0 2px 5px;  margin-top:2px;}
.button
{
	background: url("../images/bg-button-green.gif") repeat-x scroll left top #459300 !important;
	border: 1px solid #459300 !important;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px !important;
	padding: 4px 7px !important;
	margin: 0 12px;
}