/* ============全局============ */
div, ul, ol, form
{
	margin: 0;
	padding: 0;
}
img
{
	border: 0;
}
li
{
	list-style: none;
}
table
{
	font-size: 12px;
}
input
{
	font-family: tahoma,Arial,Helvetica,sans-serif;
	font-size: 12px;
	vertical-align: middle;
}
h1, h2, h3, h4, h5, h6, h7
{
	margin: 0;
	padding: 0;
	text-align: left;
	font-size: 12px;
	font-weight: 400;
}
p
{
	margin: 0;
}
p
{
	line-height: 1.6em;
	padding: 5px 0 10px;
}
html
{
	overflow: hidden !important;
	overflow: auto;
	height: 100%;
}

small
{
	font-size: 0.85em;
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{
	border: 0;

}
body
{
	color: #222;
	text-align: center;
	margin: 0;
	font-family: "微软雅黑" , "宋体" , Arial, sans-serif, serif;
	font-size: 12px;
	height: 100%;
	width: 100%;
	overflow: auto;
	line-height: 150%;
	word-break: break-all;
}
:focus
{
	outline: 0 none;
}
a:link
{
	text-decoration: none;
	color: #42414A;
}
a:visited
{
	text-decoration: none;
	color: #42414A;
}
a:hover
{
	text-decoration: none;
	color: #999;
}
a:active
{
	text-decoration: none;
	color: #999;
}

/* ============常用============ */
.left
{
	float: left;
}
.right
{
	float: right;
}
.clear
{
	clear: both;
}
.block
{
	display: block;
}
.none
{
	display: none;
}

.red
{
	color: #AA2015 !important;
}
.blue
{
	color: #319EEF !important;
}
.green
{
	color: #090 !important;
}
.strong
{
	font-weight: 600 !important;
}
.warp
{
	background: #bedcf8 url(../images/login_bg.gif) repeat-x;
	min-height: 100%;
	min-width: 1002px;
}
.login
{
	position: relative;
	margin: 0 auto;
	text-align: left;
	width: 300px;
	padding: 252px 281px 180px 421px;
	*padding: 270px 281px 162px 421px;
	height: 160px;
	background: url(../images/login.jpg) no-repeat center top;
}
.login p
{
	margin: 10px 10px 0;
	color: #fff;
	font-size: 14px;
}
.login p.line
{
	margin: 16px 10px 0;
}
.login .inp_tex
{
	width: 160px;
}
.but_login
{
	background: url(../images/login_but.gif) no-repeat;
	width: 79px;
	font-weight: 700;
	height: 30px;
	line-height: 28px;
	text-align: center;
	color: #fff;
	margin-right: 12px;
	border: none;
}
.ques
{
	background: url(../images/ques.gif) no-repeat;
	padding-left: 18px;
}
.ques a
{
	color: #fff;
	text-decoration: underline;
	line-height: 14px;
	font-size: 12px;
}
.but2, .but3
{
	color: #fff;
	line-height: 19px;
	text-align: center;
	height: 21px;
}
.but2
{
	background: url(../images/but2.gif) no-repeat;
	width: 90px;
}
.but3
{
	background: url(../images/but3.gif) no-repeat;
	width: 50px;
}
.loginfor
{
	width: 500px;
	padding: 6px 10px 0 0;
	text-align: left;
}
.loginfor b, .loginfor a
{
	font-weight: 100;
	float: right;
}
.loginfor b
{
	padding: 0 0 0 8px;
}

/* ============布局============ */
/* 头部 */
.wrap
{
	background: #fff url("../images/body_background.png") repeat-x;
	
}
#header
{
	margin: 0;
	height: 75px;
	clear: both;
}
#header dt
{
	float: left;
	margin: 0;
	width: 480px;
	height: 75px;
	background: url("../images/logo.gif") no-repeat left top;
	text-indent: -9999px;
}
#header dd
{
	float: right;
	margin: 5px 4px 0 0px;
	color: #fff;
	height: 20px;
}
#header dd p
{
	text-align: right;
	padding-right: 6px;
}
#header dd a
{
	color: #fff;
}
#header dd a:hover
{
	color: #fff;
	text-decoration: underline;
}
/* 内容 */
#contents
{
	clear: both;
	height: 92%;
	width: auto;
	margin: 5px 5px 0 0px;
}
/* 内容左层 */
#contents .left
{
	width: 180px;
	height: 87%;
}


/* 内容右层 */
#contents .right
{
	float: none;
	height: 93%;
	margin: 0 0 0 190px;
	text-align: left;
	
	
}
#contents .right #contents { margin-top:-20px; }
#contents .right2
{
	float: none;
	height: 93%;
	margin: 0 0 0 2px;
	text-align: left;
}
/* 当前操作页面 */
#contents #TabPage1
{
	height: 33px;
	margin: 1px 0 -1px 0;
	position: relative;
	z-index: 1;
	width:98%;
}
#contents #TabPage1 li
{
	float: left;
	margin: 0 3px 0 0;
	padding: 12px 0 0 0;
	width: 86px;
	height: 21px;
	background: url("../images/tab.gif") no-repeat left 0;
	cursor: pointer;
	color: #fff;
	text-align: center;
	letter-spacing: 3px;
}
#contents #TabPage1 li#Tab3
{
	display: block !important;
	display: none;
}
#contents #TabPage1 li.Selected
{
	padding: 10px 0 0 1px;
	width: 86px;
	height: 23px;
	background: url("../images/tab.gif") no-repeat left -33px;
	font-size: 14px;
	font-weight: 600;
	color: #000;
}
/* 操作页面层 */
#contents #cnt
{
	width: 98%;
	position: relative;
	z-index: 0;
}
#contents #cnt div
{
	height: 100%;
	border: 1px #1A76B7 solid;
	padding: 10px;
	background: #fff;
}
#contents #cnt .text_box
{
	min-height:500px;
	height: 100%;
	width: 94%;
}
#contents #cnt .text_box div
{
	min-height:20px;
	height:auto;
	width: 94%;
}
* + html #contents #cnt .text_box
{
	height: 100% !important;
}
/* IE7 hack */
#contents #cnt div#dTab1
{
}
#contents #cnt div#dTab2
{
	display: none;
}
#contents #cnt div#dTab3
{
	display: none;
}
.button, #cnt table tfoot td .bulk-actions select, .pagination a.number, form input.text-input, form textarea, form .wysiwyg, form select, .dp-popup
{
	border-radius: 2px 2px 2px 2px;
}
#cnt table tfoot td .bulk-actions select
{
	border: 1px solid #CCCCCC;
	padding: 2px;
}
#cnt table tfoot td .bulk-actions
{
	padding: 15px 0 5px;
}
#contents #cnt table div, #contents #cnt form div
{
	border: 0;
}
.align-left
{
	float: left;
}
#cnt a
{
	color: #57A000;
	text-decoration: none;
}
#cnt table
{
	border-collapse: collapse;
	width: 100%;
}

#cnt table thead th
{
	border-bottom: 1px solid #DDDDDD;
	font-size: 15px;
	font-weight: bold;
}
#cnt table td, #cnt table th
{
	line-height: 1.3em;
	padding: 2px;
}
#cnt tbody
{
	border-bottom: 1px solid #DDDDDD;
}
#cnt tbody tr.alt-row
{
	background: #F3F3F3;
}

#cnt .pagination
{
	font-family: Verdana,Arial,Helvetica,sans-serif;
	font-size: 10px;
	padding: 20px 0 5px;
	text-align: right;
}
.pagination a
{
	margin: 0 5px 0 0;
	padding: 3px 6px;
}
.pagination a.number
{
	border: 1px solid #DDDDDD;
}
.pagination a.current
{
	background: url("../images/bg-button-green.gif") repeat-x scroll left top #469400 !important;
	border-color: #459300 !important;
	color: #FFFFFF !important;
}
.button
{
	background: url("../images/bg-button-green.gif") repeat-x scroll left top #459300 !important;
	border: 1px solid #459300 !important;
	color: #FFFFFF !important;
	cursor: pointer;
	display: inline-block;
	font-family: Verdana,Arial,sans-serif;
	font-size: 12px !important;
	padding: 4px 7px !important;
	margin: 0 12px;
}
form label, .column-right label
{	
	font-weight: bold;
	padding: 0 0 10px;
	width: 100px;
}
form p small, .column-right p small
{
	color: #777777;
	font-size: 0.75em;
}
form input[type="checkbox"], form input[type="radio"]
{
	background: none repeat scroll 0 0 transparent;
	border: 0 none;
	padding: 0;
}

form input.text-input, form select, form textarea, form .wysiwyg
{
	background: url("../images/bg-form-field.gif") repeat-x scroll left top #FFFFFF;
	border: 1px solid #D5D5D5;
	color: #333333;
	font-size: 13px;
	padding: 2px;
	
}
form select
{
	background: none repeat scroll 0 0 #FFFFFF;
	padding: 2px;
}
form .medium-input
{
	width: 150px;
}
form .medium-input_new
{
	width: 200px;
}
form .small-input
{
	width: 25% !important;
}
form .large-input
{
	font-size: 16px !important;
	padding: 8px !important;
	width: 97.5% !important;
}
.success
{
	background: url("../images/tick_circle.png") repeat scroll 0 0 #D5FFCE;
	border-color: #9ADF8F;
	color: #556652;
}
.error
{
	background: url("../images/cross_circle.png") repeat scroll 0 0 #FFCECE;
	border-color: #DF8F8F;
	color: #665252;
}
.input-notification
{
	background-color: transparent;
	background-position: left 2px;
	background-repeat: no-repeat;
	margin: 0 0 0 5px;
	padding: 2px 0 2px 22px;
}

div.wysiwyg
{
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	padding: 5px;
	width: 97.5% !important;
}

#container
{
	width: 182px;
	margin: 0 0 0 8px;
}
#container H1
{
	font-size: 12px;
	margin: 0px;
	width: 182px;
	cursor: pointer;
	font-weight: 700;
	height: 30px;
	line-height: 20px;
}
#container H1 a, #container h1 a:link
{
	display: block;
	width: 182px;
	color: #333;
	height: 30px;
	text-decoration: none;
	moz-outline-style: none;
	background-image: url(../images/menu_bgS.gif);
	background-repeat: no-repeat;
	line-height: 30px;
	text-align: center;
	margin: 0px;
	padding: 0px;
}
#container h1 a:hover;
{
	color: #165e92;
}
.content
{
	width: 182px;
	height: 26px;
}
.content table, .content td, .content img { padding:0; margin:0; vertical-align:bottom; }
.MM ul
{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	display: block;
}
.MM li
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	list-style-type: none;
	display: block;
	text-decoration: none;
	height: 26px;
	width: 182px;
	padding-left: 0px;
}
.MM
{
	width: 182px;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	clip: rect(0px,0px,0px,0px);
}
.MM a:link
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(../images/menu_bg1.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 182px;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-decoration: none;
}
.MM a:visited
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(../images/menu_bg1.gif);
	background-repeat: no-repeat;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	height: 26px;
	width: 182px;
	text-decoration: none;
}
.MM a:active
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	color: #333333;
	background-image: url(../images/menu_bg1.gif);
	background-repeat: no-repeat;
	height: 26px;
	width: 182px;
	display: block;
	text-align: center;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	text-decoration: none;
}
.MM a:hover
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 26px;
	font-weight: bold;
	color: #006600;
	background-image: url(../images/menu_bg2.gif);
	background-repeat: no-repeat;
	text-align: center;
	display: block;
	margin: 0px;
	padding: 0px;
	height: 26px;
	width: 182px;
	text-decoration: none;
}

.content-box, .content-box-header, ul.content-box-tabs li a.current, .shortcut-button, .notification
{
	border-radius: 4px 4px 4px 4px;
}
.content-box-header
{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}
.content-box-header
{
	background: url("../images/bg-content-box.gif") repeat-x scroll left top #E5E5E5;
	height: 30px;
	margin: 1px 1px 0;
}
h3
{
	font-size: 12px;
	padding: 0 0 10px;
	font-weight: 700;
}
.content-box-header h3
{
	float: left;
	padding: 3px 15px 4px;
	color: #2D5586;
}

.content-box
{
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #8EADCB;
	margin: 0 0 20px;
}
.content-box-content
{
	border-top: 1px solid #8EADCB;
	font-size: 13px;
	overflow: hidden;
	zoom: 1;
	padding: 20px;
}
.column-left
{
	float: left;
	width: 45%;
	text-align: center;
	background: #e4e4e4;
	padding: 8px 0;
}
.column-left .listbox
{
	background: #fff;
	text-align: left;
	border: 3px solid #e4e4e4;
	padding: 20px;
	overflow: hidden;
	zoom: 1;
}
.listbox ul
{
	margin-left: 15px;
}
.listbox li
{
	background: url(../images/61.gif) no-repeat left 3px;
	padding-left: 21px;
	line-height: 22px;
	font-weight: 700;
}
.listbox li ul
{
	margin-left: 24px;
}
.listbox li li
{
	background: url(../images/62.gif) no-repeat left 3px;
	font-weight: 100;
}
.column-left .button
{
	margin: 0 5%;
}
.column-right
{
	float: right;
	width: 48%;
}
