@charset "utf-8";

/* CSS Document */
body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
ul,ol,li{list-style:none;}
input,button{margin:0;font-size:12px;vertical-align:middle;}
body{font-size:12px;font-family:Arial, Helvetica, sans-serif;  text-align:center; margin:0 auto; text-align:left;}
table{border-collapse:collapse;border-spacing:0;}
b,em,i{ font-style:normal; font-weight:normal;}
h1,h2,h3,h4{ font-size:14px;font-style:normal;}
h5{ font-size:12px;}
h6{ font-size:12px;font-weight:normal;}


a{color:#333;text-decoration:none;}
a:hover{ text-decoration:underline; color:#c00;}
.box-163css{ width:450px; margin:20px auto;}
.fl{ width:80px; float:left;}
.rater-star {PADDING-RIGHT: 0px; BACKGROUND-POSITION: left top; PADDING-LEFT: 0px; FLOAT: left; PADDING-BOTTOM: 0px; MARGIN: 0px; PADDING-TOP: 0px; BACKGROUND-REPEAT: repeat-x; LIST-STYLE-TYPE: none; POSITION: relative; 
}
.rater-star-item {LEFT: 0px; BACKGROUND-REPEAT: repeat-x; POSITION: absolute; TOP: 0px}
.rater-star-item-current {LEFT: 0px; BACKGROUND-REPEAT: repeat-x; POSITION: absolute; TOP: 0px}
.rater-star-item-hover {LEFT: 0px; BACKGROUND-REPEAT: repeat-x; POSITION: absolute; TOP: 0px}
.rater-star-item {BACKGROUND-POSITION: -100% -100%}
.rater-star-item-hover {BACKGROUND-POSITION: 0px -48px; CURSOR: pointer}
.rater-star-item-current {BACKGROUND-POSITION: 0px -48px; CURSOR: pointer}
.rater-star-happy.rater-star-item-current {BACKGROUND-POSITION: 0px -25px}
.rater-star-happy.rater-star-item-hover {BACKGROUND-POSITION: 0px -25px}
.rater-star-full.rater-star-item-current {BACKGROUND-POSITION: 0px -72px}
.popinfo {DISPLAY: none; BACKGROUND: url(../images/infobox-bg.gif) no-repeat; MARGIN-LEFT: -14px; WIDTH: 192px; PADDING-TOP: 8px; POSITION: absolute; TOP: 30px}
.popinfo .info-box {BORDER-RIGHT: #f00 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #f00 0px solid; PADDING-LEFT: 5px; BACKGROUND: #fff; PADDING-BOTTOM: 0px; BORDER-LEFT: #f00 1px solid; COLOR: #f60; PADDING-TOP: 0px; BORDER-BOTTOM: #f00 1px solid}
.rater-star-item-tips {BACKGROUND: url(../images/star-tips.gif) no-repeat 0px 0px; OVERFLOW: hidden; HEIGHT: 41px}
.rater-star-item-tips.cur {DISPLAY: block}
.goods-item .goods-info {PADDING-RIGHT: 10px; PADDING-LEFT: 10px; PADDING-BOTTOM: 0px; WIDTH: 150px; PADDING-TOP: 10px; TEXT-ALIGN: center}
.goods-comm-stars {LINE-HEIGHT: 25px; HEIGHT: 41px}
.goods-comm-show {LINE-HEIGHT: 25px; HEIGHT: 25px}
.box-163css .textarea{ width:420px; height:120px;}
