
.c {
    clear: both;
    display: none;
}
#tag {
    background: none repeat scroll 0 0 #F5F5F5;
    border-bottom: 1px solid #CCCCCC;
    height: 38px;
    position: relative;
}
#tags li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: url("../images/tab_bg.png") repeat-x scroll 0 0 transparent;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px 0;
    display: block;
    float: left;
    height: 29px;
    list-style: none outside none;
    margin-right: 5px;
    position: relative;
    text-align: center;
}
#tags li a {
    line-height: 30px;
    padding: 0 10px;
    text-decoration: none;
}
#tags li a {
}
#tags li.selectTag {
    background: none repeat scroll 0 0 #FFFFFF;
}
#tags li.selectTag a {
    color: #FFFFFF;
    font-weight: 500;
    outline: medium none;
}
#tags li p, #tag.thin li p, #tag.blue li p {
    background: url("../images/tab_con.png") no-repeat scroll 0 0 transparent;
    display: block;
    font-size: 0;
    height: 7px;
    line-height: 0;
    position: absolute;
    width: 7px;
}
#tags li p.l {
    background-position: 0 0;
    left: -1px;
    top: -1px;
}
#tags li p.r {
    background-position: -7px 0;
    right: -1px;
    top: -1px;
}
#tags li.selectTag p.l {
    background-position: -14px 0;
}
#tags li.selectTag p.r {
    background-position: -21px 0;
}
#tag.thin {
    border-color: #8FA9D5;
}
#tag.thin ul {
    bottom: -1px;
    height: 30px;
    margin: 0 20px;
    position: absolute;
}
#tag.thin li {
    background: none repeat scroll 0 0 #f4fce9;
    border: 1px solid #8FA9D5;
    height: 28px;
}
#tag.thin li.selectTag {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 0 none;
    padding-bottom: 1px;
}
#tagContent {
    margin: 0 auto;
}
.tagContent {
    line-height: 23px;
}
#tag.blue {
    background-color: #f4fce9;
    border: 0 none;
    height: 47px;
    position: relative;
}
#tag.blue .gap 
{
    
    background: none repeat scroll 0 0 #56850a;
    bottom: 0;
    font-size: 0;
    height: 2px;
    left: 0;
    position: absolute;
    width: 100%;
    padding-bottom:0px;
}
#tag.blue ul {
    bottom: 2px;
    margin: 0 15px;
}
#tag.blue li p, #tag.blue #tags li {
    background: url("../images/tab_con_b_s.gif") repeat scroll 0 0 transparent;
}
#tag.blue #tags li {
    background-position: 0 -38px;
    background-repeat: repeat-x;
    border-bottom: 0 none #c6e2a8;
    border-color: #c6e2a8;
    height: 30px;
}
#tag.blue #tags li.selectTag {
    background-color: transparent;
    background-position: 0 -7px;
    border-color: #56850a;
}
#tag.blue li.selectTag a {
    color: #FFFFFF;
    font-weight: bold;
}
#tag.blue li a {
    color: #56850a;
}
#tag.blue li p.l {
    background-position: 0 0;
}
#tag.blue li p.r {
    background-position: -7px 0;
}
#tag.blue li.selectTag p.l {
    background-position: -14px 0;
}
#tag.blue li.selectTag p.r {
    background-position: -21px 0;
}

.text_inps { height:200px;  border:1px solid #999; background:#fff url(../images/inp_bg.gif) no-repeat; overflow:auto; min-width:500px; line-height:20px; padding:2px 0 2px 5px; }